<nav class="navbar fixed-bottom navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <span id="company-name">
          <img src="assets/images/india-logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          {{'HOME.FooterMessage' | translate}}
        </span>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <span id="company-name">
          <b>©</b> 2021 emart.com
        </span>
      </li>
    </ul>
  </nav>
  