<div class="container-sm margin-top5">
    <div class="row justify-content-sm-center">
        <div class="card text-center" style="max-width: 540px;">
            <img src="assets/images/error-dog.jpg" class="card-img-top" alt="Some error occurred">
            <div class="card-body">
                <h5 class="card-title"><b>{{'HOME.Error' | translate}}</b></h5>
                <p class="card-text">{{'HOME.ErrorMessage' | translate}}</p>
                <a href="#" class="btn btn-light">{{'HOME.GoBackToHome' | translate}}</a>
            </div>
        </div>
    </div>
</div>